<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>400610001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{158,164}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,36},{158,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>400610002.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,161},{158,174}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{158,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>400610003.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{158,184}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{158,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>400610004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{158,198}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{158,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>400610005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,200}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4006.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2254912628d1009cdd401367a155708a:1/1$</string>
            <key>textureFileName</key>
            <string>4006.png</string>
        </dict>
    </dict>
</plist>
