<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>301310001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{174,170}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{174,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>301310002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,148}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,41},{184,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>301310003.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,159},{162,156}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{162,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>301310004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{164,138}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,48},{164,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>301310005.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{176,156}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{176,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3013.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9597e8de1dd1ed30f635ed276359c9f0:1/1$</string>
            <key>textureFileName</key>
            <string>3013.png</string>
        </dict>
    </dict>
</plist>
