<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>300210001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,154}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,24},{96,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>300210002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,154}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,11},{96,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>300210003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,154}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,24},{96,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>300210004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,154}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,11},{96,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>300210005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,154}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,24},{96,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3002.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b7e74204b5b2e6d172911c854368316:1/1$</string>
            <key>textureFileName</key>
            <string>3002.png</string>
        </dict>
    </dict>
</plist>
