<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>300610001.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{200,168}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>300610002.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,171},{200,166}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{200,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>300610003.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,171},{200,162}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>300610004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{200,166}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{200,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>300610005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,168}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3006.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bece87429abe1e491d21d0380d362e86:1/1$</string>
            <key>textureFileName</key>
            <string>3006.png</string>
        </dict>
    </dict>
</plist>
