<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>301010001.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{138,140}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{138,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>301010002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{138,140}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{138,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>301010003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{138,140}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{138,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>301010004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,140}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{138,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>301010005.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{138,140}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{138,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3010.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b5b23497de43caa8e63d1f237e590dd:1/1$</string>
            <key>textureFileName</key>
            <string>3010.png</string>
        </dict>
    </dict>
</plist>
