<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>401110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,525},{174,160}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{174,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>401110002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,203},{188,160}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{188,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>401110003.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,364},{184,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{184,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>401110004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{158,160}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>401110005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{170,182}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{170,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>401110006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>401110007.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>401110008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>401110009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4011.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45d53dc5329e0e22f25898f68222a490:1/1$</string>
            <key>textureFileName</key>
            <string>4011.png</string>
        </dict>
    </dict>
</plist>
