<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xpt_pijiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{206,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,227}}</string>
                <key>sourceSize</key>
                <string>{206,227}</string>
            </dict>
            <key>Xpt_pijiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,238}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{238,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xpt_pijiu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_pijiu.png</string>
            <key>size</key>
            <string>{564,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a9ed89119479337d35d9fed8cf0eba0$</string>
            <key>textureFileName</key>
            <string>anim_pijiu.png</string>
        </dict>
    </dict>
</plist>
