<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xpt_chuizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{293,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,350}}</string>
                <key>sourceSize</key>
                <string>{293,350}</string>
            </dict>
            <key>Xpt_chuizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,340},{114,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{114,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Xpt_chuizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,368},{254,228}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Xpt_chuizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,354},{308,306}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{308,306}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>Xpt_chuizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{364,348}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{364,348}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>Xpt_chuizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{128,96}}</string>
                <key>offset</key>
                <string>{18,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,32},{128,96}}</string>
                <key>sourceSize</key>
                <string>{434,268}</string>
            </dict>
            <key>Xpt_chuizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,100},{238,160}}</string>
                <key>offset</key>
                <string>{11,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,10},{238,160}}</string>
                <key>sourceSize</key>
                <string>{434,268}</string>
            </dict>
            <key>Xpt_chuizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,370},{282,194}}</string>
                <key>offset</key>
                <string>{30,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,46},{282,194}}</string>
                <key>sourceSize</key>
                <string>{434,268}</string>
            </dict>
            <key>Xpt_chuizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,148}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,61},{366,148}}</string>
                <key>sourceSize</key>
                <string>{434,268}</string>
            </dict>
            <key>Xpt_chuizi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{284,118}}</string>
                <key>offset</key>
                <string>{-70,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,143},{284,118}}</string>
                <key>sourceSize</key>
                <string>{434,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_chuizi.png</string>
            <key>size</key>
            <string>{990,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef4280dddd0ca7cbdddb0fb8573a518f$</string>
            <key>textureFileName</key>
            <string>anim_chuizi.png</string>
        </dict>
    </dict>
</plist>
