<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SD_danke01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>SD_danke02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,98},{100,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>SD_danke03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{60,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{60,94}</string>
            </dict>
            <key>SD_danke04.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,279},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>SD_danqing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,275}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{180,275}}</string>
                <key>sourceSize</key>
                <string>{180,291}</string>
            </dict>
            <key>SD_danqing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,200},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>SD_jidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,279},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_jidan.png</string>
            <key>size</key>
            <string>{246,361}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2d8364d0adf11bd721b69586c000bca$</string>
            <key>textureFileName</key>
            <string>anim_jidan.png</string>
        </dict>
    </dict>
</plist>
