<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BQ_dangao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{233,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,209}}</string>
                <key>sourceSize</key>
                <string>{233,209}</string>
            </dict>
            <key>BQ_dangao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,304},{364,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,349}}</string>
                <key>sourceSize</key>
                <string>{364,349}</string>
            </dict>
            <key>BQ_dangao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,655},{490,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,489}}</string>
                <key>sourceSize</key>
                <string>{490,489}</string>
            </dict>
            <key>BQ_dangao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>BQ_dangao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,655},{456,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,454}}</string>
                <key>sourceSize</key>
                <string>{456,454}</string>
            </dict>
            <key>BQ_dangao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{412,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,479}}</string>
                <key>sourceSize</key>
                <string>{412,479}</string>
            </dict>
            <key>BQ_dangao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{97,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,101}</string>
            </dict>
            <key>dangao_02_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dangao_02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dangao_02_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dangao_02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dangao_02_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dangao_02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dangao_02_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dangao_02_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dangao_sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PT_ZD_RDG_tex.png</string>
            <key>size</key>
            <string>{1576,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a80acd62d48151627134fe4383391358$</string>
            <key>textureFileName</key>
            <string>PT_ZD_RDG_tex.png</string>
        </dict>
    </dict>
</plist>
