<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>art/mahjong_card_3d_new/icon_gui.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,124},{1,1}}</string>
				<key>offset</key>
				<string>{32,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_3d_new/icon_zheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,373},{1,1}}</string>
				<key>offset</key>
				<string>{32,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{129,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,140},{64,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,94}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,922},{91,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,525},{118,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,123}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,2},{113,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,124}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,252},{108,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,117}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,519},{104,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,117}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,246},{99,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,117}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,2},{95,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,117}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,245},{90,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,117}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,130},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,2},{113,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,118}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,522},{108,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,117}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,124},{104,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,118}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg7_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,124},{99,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,117}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg7_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,904},{95,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,117}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg7_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,508},{90,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,117}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,508},{79,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,113}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_hp2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,110},{82,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,62}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_hp2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,493},{83,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,62}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_qp1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,504},{72,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,83}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_qp1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,139},{72,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,83}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_qp1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,140},{74,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,83}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_qp1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,922},{76,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,83}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_qp1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,135},{71,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,83}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_qp1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,131},{70,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,83}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_qp1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,2},{68,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,83}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_qp1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,128},{66,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,83}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_qp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,2},{82,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,65}</string>
			</dict>
			<key>art/mahjong_card_3d_new/bg01/mj_sp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,2},{55,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,86}</string>
			</dict>
			<key>art/mahjong_card_3d_new/icon_ts2.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,497},{74,76}}</string>
				<key>offset</key>
				<string>{28,-55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/icon_zs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,89},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card_3d_new/icon_zs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,577},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card_3d_new/icon_zs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,89},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card_3d_new/icon_zs4.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,71},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card_3d_new/icon_zwd.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,577},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card_3d_new/mj_mb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,192},{129,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,774},{97,131}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,92},{23,131}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,218},{75,131}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,215},{68,131}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,367},{97,140}}</string>
				<key>offset</key>
				<string>{-1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,774},{96,136}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,373},{97,142}}</string>
				<key>offset</key>
				<string>{-1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,652},{103,135}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,382},{104,136}}</string>
				<key>offset</key>
				<string>{3,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,643},{104,127}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,652},{107,127}}</string>
				<key>offset</key>
				<string>{2,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,791},{109,127}}</string>
				<key>offset</key>
				<string>{2,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,616},{75,131}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,353},{75,131}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,629},{85,133}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,2},{83,129}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tiao_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,367},{85,137}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tong_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,914},{101,101}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tong_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,238},{55,124}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tong_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,639},{95,127}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tong_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,640},{98,128}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tong_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,772},{98,128}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tong_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,2},{77,125}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tong_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,382},{107,139}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tong_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,356},{79,133}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/tong_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,783},{104,128}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/w_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,761},{81,120}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/w_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,222},{81,130}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/w_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,2},{81,133}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/w_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,226},{81,132}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/w_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,2},{81,134}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/w_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,620},{81,137}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/w_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,366},{81,138}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/w_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,362},{81,131}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/w_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,885},{81,135}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/zi_bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,893},{88,122}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/zi_bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,909},{88,102}}</string>
				<key>offset</key>
				<string>{3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/zi_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,511},{97,124}}</string>
				<key>offset</key>
				<string>{4,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/zi_fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,252},{112,111}}</string>
				<key>offset</key>
				<string>{4,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/zi_nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,770},{94,119}}</string>
				<key>offset</key>
				<string>{6,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/zi_xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,915},{102,107}}</string>
				<key>offset</key>
				<string>{3,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/zi_zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,366},{81,134}}</string>
				<key>offset</key>
				<string>{3,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_3d_new/icon_lanz.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,559},{25,27}}</string>
				<key>offset</key>
				<string>{-19,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mahjong_card_3d_new.png</string>
			<key>realTextureFileName</key>
			<string>mahjong_card_3d_new.png</string>
			<key>size</key>
			<string>{1021,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>