<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>art/mahjong_card_classical/bg01/mj_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,101},{64,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,94}</string>
			</dict>
			<key>art/mahjong_card_classical/bg01/mj_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,199},{64,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,94}</string>
			</dict>
			<key>art/mahjong_card_classical/bg01/mj_bg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,563},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>art/mahjong_card_classical/bg01/mj_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,2},{42,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,62}</string>
			</dict>
			<key>art/mahjong_card_classical/bg01/mj_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,451},{40,58}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,60}</string>
			</dict>
			<key>art/mahjong_card_classical/bg01/mj_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,754},{24,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,58}</string>
			</dict>
			<key>art/mahjong_card_classical/bg01/mj_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,816},{24,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,58}</string>
			</dict>
			<key>art/mahjong_card_classical/bg01/mj_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,137},{53,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,44}</string>
			</dict>
			<key>art/mahjong_card_classical/bg01/mj_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,513},{40,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,60}</string>
			</dict>
			<key>art/mahjong_card_classical/bg01/mj_bg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,135},{53,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,44}</string>
			</dict>
			<key>art/mahjong_card_classical/bg01/mj_bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,286},{60,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,79}</string>
			</dict>
			<key>art/mahjong_card_classical/icon_gui.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1019},{1,1}}</string>
				<key>offset</key>
				<string>{32,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/icon_zheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{7,1019},{1,1}}</string>
				<key>offset</key>
				<string>{32,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/icon_zs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,986},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card_classical/icon_zs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,986},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card_classical/icon_zs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,412},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card_classical/icon_zs4.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,412},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card_classical/icon_zwd.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,580},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card_classical/mj_mb.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,2},{64,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,632},{48,67}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tiao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,679},{12,60}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tiao_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,451},{40,60}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tiao_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,640},{32,60}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tiao_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,515},{38,61}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tiao_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,379},{38,61}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tiao_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,575},{37,61}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tiao_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,676},{38,60}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tiao_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,252},{37,64}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tong_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,573},{43,43}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tong_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,620},{28,55}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tong_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,621},{51,55}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tong_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,619},{42,53}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tong_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,320},{43,55}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tong_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,2},{35,61}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tong_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,552},{45,65}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tong_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,506},{34,63}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/tong_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,632},{48,62}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/w_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,2},{42,62}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/w_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,68},{41,63}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/w_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,454},{41,65}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/w_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,66},{41,63}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/w_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,183},{41,63}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/w_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,523},{41,65}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/w_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,549},{41,66}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/w_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,281},{41,63}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/w_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,2},{41,65}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/zi_bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,71},{43,62}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/zi_bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,704},{40,46}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/zi_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,563},{48,64}}</string>
				<key>offset</key>
				<string>{2,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/zi_fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,619},{50,50}}</string>
				<key>offset</key>
				<string>{3,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/zi_nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,67},{42,50}}</string>
				<key>offset</key>
				<string>{1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/zi_xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,2},{45,46}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/zi_zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,183},{39,65}}</string>
				<key>offset</key>
				<string>{1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_ap2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,634},{134,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,85}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_ap3.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,709},{66,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,82}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,101},{64,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,94}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,199},{64,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,94}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,471},{91,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,348},{42,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,62}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,100},{67,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,89}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,815},{96,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,115}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,815},{96,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,115}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,791},{75,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,109}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,444},{40,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,60}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,133},{53,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,44}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,795},{79,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,113}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_dp3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,297},{66,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,81}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_dp3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,379},{60,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,81}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_dp3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,369},{56,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,81}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_dp3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,464},{60,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,81}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_dp3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,297},{66,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,81}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_hp1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,382},{96,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,122}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_hp1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,508},{96,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,122}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_hp2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,723},{102,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,72}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_hp2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,633},{102,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,72}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_hp3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,934},{69,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,85}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_hp3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,934},{69,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,85}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_hp4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,471},{127,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,88}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_hp4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,723},{127,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,88}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_mp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,382},{134,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,85}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_mp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,382},{66,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,82}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_qp1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,904},{72,109}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,110}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_qp1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,907},{78,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,109}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_qp1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,799},{88,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,109}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_qp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,934},{104,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,81}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_qp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,2},{67,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,95}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_qp3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,2},{64,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,94}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_qp3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,887},{69,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,95}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_qp3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,680},{82,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,96}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_sp2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,912},{82,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,108}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_sp2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,780},{71,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,103}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_sp3.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,698},{70,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,89}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_sp3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,193},{64,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,89}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_sp3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,193},{59,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,89}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_sp3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,286},{61,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,89}</string>
			</dict>
			<key>art/mahjong_card_classical/icon_ts2.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,552},{74,76}}</string>
				<key>offset</key>
				<string>{28,-55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_classical/bg01/mj_bg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{129,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_classical/bg02/mj_bg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,192},{129,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card_classical/icon_lanz.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,250},{25,27}}</string>
				<key>offset</key>
				<string>{-19,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mahjong_card_classical.png</string>
			<key>realTextureFileName</key>
			<string>mahjong_card_classical.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>