<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>art/mahjong_card/icon_gui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,137},{1,1}}</string>
				<key>offset</key>
				<string>{32,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card/icon_zheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,137},{1,1}}</string>
				<key>offset</key>
				<string>{32,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{129,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,265},{64,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,94}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,870},{91,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,257},{118,166}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,172}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,861},{64,92}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,96}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,135},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,95}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,234},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,95}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,929},{81,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,72}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,135},{118,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,172}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,935},{81,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,71}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,778},{79,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,113}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,2},{129,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,890},{64,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,94}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,837},{91,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,257},{118,166}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,172}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,918},{64,92}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,96}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,333},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,95}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,432},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,95}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,986},{81,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,72}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,135},{118,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,172}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1005},{81,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,71}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,823},{79,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,113}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,2},{129,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,903},{64,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,94}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,858},{91,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,257},{118,166}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,172}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,936},{64,92}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,96}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,531},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,95}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,837},{38,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,95}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,939},{81,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,72}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,135},{118,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,172}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,958},{81,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,71}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,865},{79,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,113}</string>
			</dict>
			<key>art/mahjong_card/icon_zs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,1032},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card/icon_zs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,1032},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card/icon_zs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1062},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card/icon_zs4.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1062},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card/icon_zwd.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1071},{36,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,35}</string>
			</dict>
			<key>art/mahjong_card/mj_mb.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,2},{129,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,603},{97,131}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,603},{23,131}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,688},{75,131}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,2},{68,131}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,483},{97,140}}</string>
				<key>offset</key>
				<string>{-1,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,584},{96,136}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,379},{97,142}}</string>
				<key>offset</key>
				<string>{-1,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,376},{103,135}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,268},{104,136}}</string>
				<key>offset</key>
				<string>{3,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,480},{104,127}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,492},{107,127}}</string>
				<key>offset</key>
				<string>{2,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,379},{109,127}}</string>
				<key>offset</key>
				<string>{2,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,786},{75,131}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,677},{75,131}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,268},{85,133}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,633},{83,129}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tiao_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,363},{85,137}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tong_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,588},{101,101}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tong_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,137},{55,124}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tong_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,379},{95,127}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tong_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,684},{98,128}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tong_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,738},{98,128}}</string>
				<key>offset</key>
				<string>{1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tong_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,756},{77,125}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tong_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,268},{107,139}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tong_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,854},{79,133}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/tong_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,379},{104,128}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/w_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,693},{81,120}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/w_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,769},{81,130}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/w_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,632},{81,133}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/w_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,754},{81,132}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/w_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,616},{81,134}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/w_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,547},{81,137}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/w_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,405},{81,138}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/w_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,768},{81,131}}</string>
				<key>offset</key>
				<string>{1,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/w_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,494},{81,135}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/zi_bai.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,585},{88,122}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/zi_bei.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,766},{88,102}}</string>
				<key>offset</key>
				<string>{3,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/zi_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,504},{97,124}}</string>
				<key>offset</key>
				<string>{4,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/zi_fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,379},{112,111}}</string>
				<key>offset</key>
				<string>{4,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/zi_nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,487},{94,119}}</string>
				<key>offset</key>
				<string>{6,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/zi_xi.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,510},{102,107}}</string>
				<key>offset</key>
				<string>{3,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/zi_zhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,630},{81,134}}</string>
				<key>offset</key>
				<string>{3,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/icon_ts2.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,1015},{74,76}}</string>
				<key>offset</key>
				<string>{28,-55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/bg01/mj_bg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,2},{129,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/bg02/mj_bg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,135},{129,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/bg03/mj_bg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,135},{129,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,186}</string>
			</dict>
			<key>art/mahjong_card/icon_lanz.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,487},{25,27}}</string>
				<key>offset</key>
				<string>{-19,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mahjong_card.png</string>
			<key>realTextureFileName</key>
			<string>mahjong_card.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>